<form id="create_post" action="/post" method="POST">
  <label for="title">Title</label><input type="text" id="title" name="title">
  <br>
  <br>
  <textarea name="body" form="create_post" cols="30" rows="10"></textarea>
  <br>
  <br>
  <label for="tag">Tags</label><input type="text" id="tag" name="tags">
  <br>
  <input type="submit" value="Submit">
</form>
